
@{
    ViewData["Title"] = "AjaxPost";
}

<h1>AjaxPost</h1>

<div class="row">
    <div class="col-6 col-sm-4">
        <form method="post">
            <div class="mb-3 ">
                <label for="exampleInputEmail1" class="form-label">姓名</label>
                <input type="text" class="form-control" id="InputName" name="userName">

            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">信箱</label>
                <input type="email" class="form-control" id="InputEmail" name="Email" >
            
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">年紀</label>
                <input type="number" class="form-control" id="InputAge" name="Age">
            </div>

            <button type="submit" class="btn btn-primary" >OK</button>
            <button type="reset" class="btn btn-primary">清除</button>
        </form>
        <div class="alert alert-success">
            @*<div>@ViewBag.name</div>

            <div>@ViewBag.email</div>

            <div>@ViewBag.age</div>*@
            <div id="div1" ></div>

        </div>
    </div>
</div>




@section script{ 
    <script>
        const div = document.querySelector('#div1');
        const InputName = document.querySelector('#InputName');
        const InputEmail = document.querySelector('#InputEmail');
        const InputAge = document.querySelector('#InputAge');
        const btn = document.querySelector('button[type="submit"]');
        btn.addEventListener('click', (xzy) => {
            xzy.preventDefault(); //取消預設行為
            console.log("button click");

            const xhr = new XMLHttpRequest();

            xhr.addEventListener('load', () => {
                const data = xhr.responseText;
                div.textContent = data;
            });

            const params = `userName=${InputName.value}&email=${InputEmail.value}&age=${InputAge.value}`;
           
            xhr.open("post", "@Url.Content("~/api/register")");
            xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
            xhr.send(params);
            //post  放send(key=value&&key=value)
        })




    </script>

}